body {
    height: 100%;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    color: black;
    overflow: hidden;
}
html {
    scroll-behavior: smooth;
}
/*body::-webkit-scrollbar {
    display: none;
} */
.container {
    color: blue;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    animation: transform 0.2s;   
}
.container h1 {
    font-weight: normal;
    
}
.container a {
    color: inherit;
    text-decoration: none;
}
.gradient:hover {
    cursor: pointer;
     background-image: linear-gradient(to left, red, blue);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
    transition: 0.3s;
}
.welc {
    display: flex;
    justify-content: center;
    text-align: center;
}
#page1 {
    background: linear-gradient(to top, #3498db, #2ecc71);
}
#page2 {
    background: linear-gradient(to bottom, #3498db, #2ecc71);
}
.tpage2 {
    color: black;
}
.tpage2:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
}
 /* hr {
    background: linear-gradient(to right,#2ecc71, #3498db);
    padding: auto;
    margin: auto;
    height: 3px;
    border: none;
    
} */
